2006Scape\ Server/data/characters/
.idea/
.idea/workspace.xml
**/.idea/workspace.xml
**/.idea/*
*/*.jar
*.iml
.DS_Store
2006Scape Server/data/logs
*.class
*.project
2006Scape Client/bin/
*.prefs
*.classpath

# Ignore any json files in the server root (should only be config files, the sample file should still be updated)
2006Scape Server/*.json
